body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

#main-container {
    background-color: white;
    width: 600px;
    height: 100vh;
    margin: 0 auto;
}

/* NAVIGATION */
nav {
    background-color: #707070;
    color: white;
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: .5px;
}

#company-logo {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 30px;
}

#nav-links li {
    font-size: 10px;
    display: inline-flex;
    justify-content: space-around;
    width: 50px;
    position: relative;
    right: 20px;
}

/* HEADER */
header {
    background-color: black;
    height: 27%;
    display: flex;
    justify-content: center;
}

h1 {
    color: #E9E05E;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

/* MAIN CONTENT */
main {
    height: 59%;
}

/* MAIN CONTENT - TOP ROW */
#tr {
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#tr-left, #tr-center, #tr-right {
    background-color: #A4FFD8;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    width: 140px;
    height: 130px;
}

#tr-left, #tr-center, #tr-right, #mr-left, #mr-right {
    position: relative;
    top: 10px;
}

/* MAIN CONTENT - MIDDLE ROW */
#mr {
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mr-left, #mr-right {
    background-color: #FFC46C;
    display: inline-flex;
    width: 260px;
    height: 130px;
}

#mr-left {`
    position: relative;
    left: 10px;
}

#mr-right {
    position: relative;
    right: 10px;
}
/* MAIN CONTENT - BOTTOM ROW */
#br {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#br-left, #br-right {
    display: inline-flex;
    width: 200px;
    height: 70px;
    position: relative;
    bottom: 10px;
}

#br-left {
    position: relative;
    left: 10px;
}

p {
    font-size: 9px;
}

#br-right {
    display: flex;
    justify-content: center;
    position: relative;
    right: 10px;
}

img {
    width: 70%;
    height: 140%;
    position: relative;
    bottom: 5px;
}

/* FOOTER */
footer {
    background-color: #3B3A56;
    height: 9%;
}